nav {
    position: absolute;
    left:25px;
    top:25px;
    width: 200px;
    background-color: blue;
    color: white;
}
nav > div {
    margin: 25px;
}
a.menuLink{
    color: white;
    font-family: sans-serif;
    font-size: 1.5em;
}
main{
    position: absolute;
    left:250px;
    top: 25px;
    background-color: aqua;
    width: 70%;
    padding: 50px;
}