nav {
    position: absolute;
    left:25px;
    top:25px;
    width: 200px;
    background-color: aqua;
    color: white;
}
nav > div {
    margin: 25px;
}
a.menuLink:link{
    color: #666666;
    font-family: sans-serif;
    font-size: 1.5em;
}
a.menuLink:visited{
    color: #555555;
    font-family: sans-serif;
    font-size: 1.5em;
}
main{
    position: absolute;
    left:250px;
    top: 25px;
    background-color: #ffffff;
    width: 70%;
    padding: 50px;
    border: 3px #cccccc solid;
}
button#darkMode{
    display: block;
    position: absolute;
    right: 100px;
    top: 0px;
    text-align: center;
    background-color: black;
    border: 0px;
    padding: 5px;
    color: white;
    font-family: sans-serif;
}